.styleHeader {
    color: 'white';
    font-size: '50px';
    padding: '10px';
    font-family: 'consolas';
}

.styleMain {
    color: 'white';
    font-size: '50px';
    text-align: 'center';
    justify-content: 'center';
    font-family: 'consolas';
}

.styleCol {
    padding-right: '100px';
}

.ListGroup{
    max-height: 10px;
    overflow-y: scroll;
}

.styleModal {
    width: 75vw;
    max-width: 75vw;
    height: 90vh;
    max-height: 90vh;
}