.mapStyles{
    width: '800px';
    height: '550px';
    position: "fixed";
};

.styleFilter{
    color: 'white';
    font-size: '30px';
    padding: '10px';
    font-family: 'consolas';
}

.styleMain{
    color: 'white';
    font-size: '50px';
    text-align: 'center';
    justify-content: 'center';
    font-family: 'consolas';
}

.styleInfoWindowHeader{
    font-size: '20px';
    font-family: 'consolas';
    font-weight: 'bold';
}

.styleInfoWindowbody{
    font-size: '15px';
    font-family: 'consolas';
    justify-content: 'left';
    text-align: 'left';
    float: 'left';
}